# IDE settings
.idea/
.vscode/
*.swp

# Python
__pycache__/
*.pyc

# Local Settings
local.properties
kaggle.json

# PDF (to be kept only locally)
"Mobile App/Skin Sense - Code Bros.pdf"

# Build outputs
/build/
/bin/
